{% extends 'base.html' %}

{% block title %} Создайте чат {% endblock %}

{% block content %}
  <div class="container mt-5">
      <h3></h3>
      <div class="row">
          <div class="col-lg-4">
              <div class="w-100">
                  <div class="mb-3">
                      <label for="ChatName" class="form-label">Создайте чат:</label>
                      <input type="text" class="form-control" id="ChatName">
                  </div>
                  <button id="AddChat" value="Enter" class="btn btn-primary rounded-1">Создать чат</button>
              </div>
          </div>

      </div>
  </div>
  <script>    
    document.querySelector('#ChatName').focus();
            document.querySelector('#ChatName').onkeyup = function(e) {
                if (e.key === 'Enter') {  // enter, return
                    document.querySelector('#AddChat').click();
                }
            };

            document.querySelector('#AddChat').onclick = function(e) {
                var chatName = document.querySelector('#ChatName').value;
                window.location.pathname = '/chat/' + chatName + '/';
            };
  </script>
{% endblock %}
